.Container {
  font-size: 14px;
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  flex-direction: column;
}
.menu {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: #1e282d;
  padding: 10px;
  color: lightgray;
  border-bottom: 1px solid gray;
  margin: 0;
}
.menu2{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 3px;
  background-color: #2b2e31;
  color: lightgray;
  border-bottom: 1px solid gray;
  margin: 0;
}
.menu2 li {
  list-style: none;
}
.menu li {
  list-style: none;
}

.active {
  color: skyblue;
  border-bottom: 2px solid skyblue;
}
.upperSection {
  padding: 10px;
  display: flex;
  gap: 12px;
  margin: 7px 0;
}

.filterInput {
  border: 1px solid rgb(134, 130, 130);
  outline: none;
  border-radius: 5px;
  color: rgb(248, 238, 238);
  background-color: #191c24;
  padding: 8px;
}
.Input{
  display: flex;
  gap: 10px;
  flex-shrink: inherit;
}
.Input > input {
  width: 300px;
  padding: 8px;
}

.Input > button {
  width: 100%;
  max-width: 100px;
  background-color: rgb(13, 134, 150);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease; 
}

.Input > button:hover {
  background-color: rgb(0, 109, 124); 
}

.midSection {
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  gap: 10px;
}

.Requests {
  border: 1px solid rgb(104, 104, 104);
  padding: 6px 10px;
  margin-right: 6px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}

.Requests:hover {
  background-color: rgb(58, 56, 56);
  transform: scale(1.01);
}

.Options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.line {
  border: 1px solid rgb(97, 92, 92);
  margin: 15px;
}

.part1 {
  text-align: center;
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.tableBox {
  max-height: 90vh;
  display: flex;
}

.table {
  width: 80%;
  height: min-content;
  padding: 0px;
  border-collapse: collapse;
}
tr:hover {background-color: gray;}
.table thead{
  border: 1px solid #dddddd;
}
.table th,
.table td {
  text-align: left;
  margin-left: 5px;
  padding: 8px;
  border-right: 1px solid #dddddd;
}
td:first-child, th:first-child {
  border-left: none;
 }
.table th {
  font-size: larger;
  border: 1px solid #dddddd;
}

.details {
  border: solid gray 1px;
  padding: 20px;
  width: 40%;
}
.responseDetails {
  width: 60vw;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  text-align: left;
}
.responseHeader {
  border-bottom: 1px solid rgb(240, 240, 240);
  display: flex;
  text-align: left;
  gap: 15px;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
}
.selectedSection {
  border-bottom: 1px solid gray;
  color: gray;
}
.responseCard {
  height: calc(100% - 31px);
  overflow: auto;
}
.headers > div {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 3fr;
  font-size: larger;
}
